// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.header_image {
  background-position: center;
  background-size: 100%;
}

@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1600px;
  }
}

.row {
  --bs-gutter-x: 0; 
  --bs-gutter-y: 0;
}

.container {
  width: 1440px;
  margin-left: 0px;
  margin-right: 0px;
}

.header_text_image {
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  color: white;
}

.dropdown-menu-center {
  left: 50% !important;
  right: auto !important;
  text-align: center !important;
  transform: translate(-50%, 0) !important;
}

.col {
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.photo.photo_img {
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.photo.photo_img img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto; 
}
