.links-group {
  text-align: center;
}

.sign_in {
  color: gray;
}

.sign_up {
  color: gray;
}

.forgot-password {
  color: gray;
}

hr {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  color: gray;
}